* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 1500px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
main {
    width: 1300px;
    height: 3500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    width: 60px;
}



/* header banner */
.header-nav {
    height: 40px;
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__title {
    font-size: 20px;
    font-weight: 500;
}

.header-nav__menu li:hover {
    font-weight: bold;
    transition: 0.2s ;
}

.header-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-family: serif;
    background-image: url('../images/home-banner.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.header-banner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-banner__title span {
    font-size: 50px;
}

/* intro */
.intro-section{
    width: 1300px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.intro-section__title {
    font-family: sans-serif;
}

.intro-section__article {
    width: 500px;
    height: 500px;
}

.intro-section__content {
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
}

.intro-section__article img{
    width: 500px;
    height: 500px;
}


/* history */
.history-section__title {
    width: 1300px;
    height: 60px;
    text-align: left;
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 7px;
    padding-top: 20px;
    border-top: 2px solid rgba(0,0,0,0.9);
}
.history-section__subtitle {
    width: 1300px;
    height: 60px;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;   
}
.history-section {
    width: 1300px;
    height: 390px;
    display: flex;
    justify-content: space-between;   
    margin-bottom: 160px;
}

.history-section__article {
    width: 280px;
   
}

.history-section__content {
    font-size: 15px;
}
.history-section__content span {
    font-size: 17px;
    font-weight: bold;
}

.history-section__article img{
    width: 100%;
    object-fit:cover;
}




/* magazine */
.magazine-section {
    width: 780px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin-bottom: 10px
}

.magazine-title {
    width: 700px;
    height: 100px;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid rgba(0,0,0,0.6);
    margin-bottom: 20px;
}

.magazine-section {
    width: 650px;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 180px;
}
.magazine-section__image {
    width: 100%;
    height: 100%;
}

.magazine-section__content{
    width: 170px;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
}

.magazine-section__content__title {
    font-family:'Times New Roman', Times, serif;
    font-size: 68px;
}

.magazine-section__content__summary {
    font-family: serif;
    font-size: 20px;
}

/* product */
.product-section {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0 100px;
}

.product-section__video {
    width: 900px;
    height: 500px;
}
.product-section__image {
    width: 430px;
    height: 420px;
}

/*  item */

.item-section {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-section__title {
    height: 50px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.item-section__subtitle {
    height: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.item-section__article {
    width: 280px;
    height: 280px;
    box-shadow: 2px 2px 7px lightgray;
    border-radius: 150px;
    margin: 30px;
}

.item-section__article:first-child {
    background-image: url('./images/vety.jpg');
    background-size: cover;
    background-position: center;
}
.item-section__article:nth-child(2){
    background-image: url('./images/tamdao.jpg');
    background-size: cover;
    background-position: center;
}
.item-section__article:last-child{
    background-image: url('./images/tempo.jpg');
    background-size: cover;
    background-position: center;
}


/* footer */
.footer-copyright {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-copyright p {
    width: 900px;
    font-size: 12px;
    text-align: center;
}